<html>
    <head>
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    
    <body ng-app="myApp">
        <div class="GameName">
            <div class="Container"></div>
            </div>
        </div>
        <div class="levelList" ng-controller="mainController">
            <div class="Container">
                <div class="level" ng-repeat="Level in levels">
                    <div ng-click="go(Level)">{{Level.level}}</div>
                    <div ng-click="go(Level)">{{Level.detail}}</div>
                </div>
            </div>
        </div>
    </body>
    <script>var app = angular.module('myApp', []);</script>
    <script src="js/mainController.js" ></script>
    <script src="js/mainDirective.js" ></script>
</html>