
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Play Cards!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.14/angular-animate.js"></script>
    
    <body ng-app="myApp">
        <div class="container">
            <div class="GameName">
                <div class="container justify-content-md-center">
                    <div class="justify-content-md-center color-light" style="text-align:center"> <h2>CARD GAME </h2></div>
                                          
                </div>
            </div>
            <div class="levelList " ng-controller="mainController">
                <div class="container" style="text-align:center">
                    </div>
                    <div class="row justify-content-center " ng-repeat="Level in levels">
                        <div class="col col-md-5 bg-teal f-25"  ng-click="go(Level.level);">
                            <div class="col bg-darkblue" >Level {{Level.level}}</div>
                            
                            <p class = "col txt-center">
                                <img src="icon/puzzle.png" alt="puzzle" width="30px" height="30px" style="margin-top: 3px;margin-right: 10px;">
                                <b>  {{Level.detail}}</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <canvas></canvas>    
            </div>
        </div>    
    </body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
    <script src="js/mainController.js" ></script>
    <!--script src="js/levelController.js" ></script>
    <script src="js/mainDirective.js" ></script-->
</html>