<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Level1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
    
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    
    <body ng-app="myApp" ng-controller="levelController">
        <h1 class="level-title txt-center color-light"> Fun Game<br>Level 1</h1>
        <div style="float: left; color: white; display: none;">
            <h3>highscore</h3>
        </div>

        <div class="container justify-content-center" >
            <div class="col-sm-6 col-10 offset-sm-3  offset-1"  > 
                <div class="row justify-content-around cardArea" ng-init="level='level1'; coverAllCards(); " >
                    <div class="col-3 mar-5" ng-repeat="rowcard in cards[level] " >
                        <img cards class="circle-img mycard level1-card" ng-src="{{rowcard.state ? rowcard.or_src : rowcard.src}}" 
                          ng-click="check(rowcard)" id="img{{rowcard.img}}" alt="{{rowcard.name}}">      
                        
                    </div>
                </div>
            </div>
            <div class="txt-center color-light" style="font-size: 25px;"> 
                {{ timing.toFixed(2) | number }} sec
            </div>
            <div class="alert alert-success alertBox" style="font-size: 20px;">
                You finish in <b>{{ timing.toFixed(2) | number }}</b> seconds!
            </div>
        </div>
        
        <div class="container justify-content-center" >

            <div class="row justify-content-center" >
                <div class="col-2 circle-img bg-teal txt-center" ng-click="coverAllCards()" >
                   Reset
                   <img src="icon/reset.png" alt="reset" width="30px" height="30px" style="margin-left:5px;">
                </div>
                <div class="col-2 circle-img bg-red txt-center " ng-click="back()">
                    Exit
                    <img src="icon/exit.png" alt="exit" width="30px" height="30px" style="margin-left:5px;padding-top: 3px; padding-bottom: 3px;">
                </div>
            </div>

        </div>

    </body>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>    
    <script src="js/levelController.js" ></script>
</html>