<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>

    <body ng-app="myApp">
        <h1 class="level-title">LEVEL 1</h1>
        <div class="container" ng-controller="mainController">
            <div class="row justify-content-md-center" ng-repeat="colcard in cards " >
                <div class="col" ng-repeat="rowcard in colcard">
                    
                    <img class="circle-img" ng-src="{{rowcard.or_src}}" ng-click="check(rowcard)" id="img{{rowcard.img}}">      
                    {{rowcard.or_src}}
                </div>
            </div>
        </div>

    </body>
    <script>var app = angular.module('myApp', []);</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/mainController.js" ></script>
    <script src="js/mainDirective.js" ></script>
</html>