.txt-center{
    text-align: center;
}
.w-30pa-h-30{
    width: 30%;
    height: 30px;
    margin-left: auto;
    margin-right: auto; 
}
.mar-5{
    margin: 5, 5, 5, 5;
    margin-bottom: 5;
}

.f-25{
    font-size: 25;
}


.color-white{
    color: var(--white);
}

.color-light{
    color: var(--light);
}

.bg-green{
    background-color: var(--green);
    color: white;
}
.bg-green:hover{
    background-color: rgba(0, 128, 0, 0.3);
    color: white;
}

.bg-darkgreen{
    background-color: #064b00;
    color: white;
}
.bg-darkgreen:hover{
    /*background-color: rgba(0, 128, 0, 0.3);*/
    color: white;
}

.bg-red{
    background-color: var(--red);
    color: white;
}
.bg-red:hover{
    background-color: rgba(255,0, 0, 0.3);
    color: white;
    transform: scale(1.03);
    transition: .3s;
    box-shadow: 0 0 2px 1px rgba(75, 11, 11, 0.678);
}
.bg-blue{
    background-color: var(--blue);
    color: white;
}
.bg-blue:hover{
    background-color: rgba(25, 0, 255, 0.3);
    color: white;
}
.bg-darkblue{
    background-color: #0e074d;
    color: white;
}
.bg-darkblue:hover{
    /*background-color: rgba(0, 128, 0, 0.3);*/
    color: white;
}
.bg-teal{
    background-color: var(--teal);
    color:#37096b
}
.bg-teal:hover{
    background-color: rgba(28, 168, 103, 0.3);
    color:var(--white);
    transform: scale(1.03);
    transition: .3s;
    box-shadow: 0 0 2px 2px rgba(6, 53, 16, 0.555);
}
.bg-success{
    background-color: var(--success) ;
    color:white;
}

.bg-success:hover{
    background-color: rgba(10, 168, 44, 0.3);
    color: white;
    transform: scale(1.03);
    transition: .3s;
    box-shadow: 0 0 2px 2px rgba(6, 53, 16, 0.555);
}

.bg-darkturquoise{
    background-color: darkturquoise;
    color: rgb(45, 0, 66);
}
.bg-darkturquoise:hover{
    background-color: rgba(0, 206, 209, 0.4);
    color: white;
    transform: scale(1.02);
    transition: .3s;
    box-shadow: 0 0 2px 2px rgba(0, 209, 244, 0.555);
}

.bg-indigo{
    background-color: var(--indigo);
    color:var(--white);
}
.bg-pink{
    background-color: var(--pink);
    color:var(--white);
}

img{
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
}
img:hover{
    transform: scale(1.03);
    transition: .3s;
    border-style: outset;
    border-color: rgba(58, 56, 56, 0.774);
    border-width: 2px 2px 2px 2px;
}

@keyframes wave{
    0%{max-width: 101px; max-height: 101px;}
    100%{max-width:103px; max-height: 103px;}
    
}
@keyframes move{

    50%{left: 40vw; top: 20vw;}
}

.circle-img {
    border-radius: 5px;
}

.myCenter{
    position: fixed;
    top: 50%;
    left: 50%;
}

.level1-card {
    width: 150px;
    height: 150px;
    margin: 30px;
    position: static;
}

.mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body{
    background-image: url('http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg');
    background-size: cover;
}