.txt-center{
    text-align: center;
}
.w-30pa-h-30{
    width: 30%;
    height: 30px;
    margin-left: auto;
    margin-right: auto; 
}
.mar-10{
    margin-top: 10;
    margin-bottom: 10;
}
.bg-green{
    background-color: var(--green);
    color: white;
}
.bg-green:hover{
    background-color: rgba(0, 128, 0, 0.3);
    color: white;
}

.bg-red{
    background-color: var(--red);
    color: white;
}
.bg-red:hover{
    background-color: rgba(255,0, 0, 0.3);
    color: white;
}
.bg-blue{
    background-color: var(--blue);
    color: white;
}
.bg-blue:hover{
    background-color: rgba(25, 0, 255, 0.3);
    color: white;
}
.bg-teal{
    background-color: var(--teal);
    color:var(--white);
}
.bg-teal:hover{
    background-color: var(--teal);
    opacity: 0.3;
    color:var(--white);
}
.bg-indigo{
    background-color: var(--indigo);
    color:var(--white);
}
.bg-pink{
    background-color: var(--pink);
    color:var(--white);
}

img{
    width: 10vw;
    height: 10vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 40px;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.circle-img {
    border-radius: 5px;
}

.level1-card {
    width: 150px;
    height: 150px;
    margin: 30px;
    position: static;
}

.mycontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}